* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
	color: #2f2a1a; 
	font-size: 16px; 
	font-weight: 400; 
	line-height: 1.4;
	font-family: Courier New, monospace;
	background-color: hsl(210deg 45% 26% / 74%); /*hsl(210deg 39% 9% / 74%); */ 
}
		
ul { 
	list-style: none; 
}

a { 
	text-decoration: none; 
}

h1, h2 { 
	padding: 10px; 
	font-size: 2.2rem;
}

h2 { 
	font-size: 1.85em; /*2.1em; */
	
	text-transform: uppercase;
}

h3, h4 {
	letter-spacing: 0.25rem;
  text-transform: capitalize;
  line-height: 1.25;
}

h3 { 
	font-size: 1.7em; 
	text-transform: capitalize;
}

h4 {
	font-size: 1.1rem;
	margin-bottom: 10px;
}

p {
	font-size: 1.1rem;
	line-height: 1.5;
	text-align: justify;
}

.external-links-container { 
	display: flex; 
	justify-content: space-around; 
}

main {  
	margin-top: 70px;
	
}


/* Navbar */
nav.navbar { 
	position: fixed; 
	display: flex; 
	justify-content: flex-start; 
	color: #ffffffc7; /*#2f2a1a; #2f0e02; #441504; #9c320a; #f7622b;*/ 
	background-color: #c7a87a; /*#78878c; */
	width: 100%;
	padding-left: 15px;
}
nav.navbar p {
	font-size: 2rem;
	font-weight: 400;
	padding-right: 40px; 
	line-height: 2;
}
nav.navbar a { 
	color: inherit; 
}


/* Welcome Section */
.main-section { 
	/*clear: both;*/ 
	display: flex; 
	flex-direction:	column;   
	width: 100%; 
	height: 100vh; 
	text-align: center;
	color: #2f2a1a; 
}


  
	
/* Products List */	
.products-list-container { 
	color: #ffffffc7; 
	padding: 4.4rem 1.5rem 2rem;
}


/* Product Container */
.product-container {
	
}



/* Contact Section */
main section#contact { 
	color: black; 
	background-color: #f7622b; 
	display: flex; 
	flex-direction: column; 
	justify-content: space-evenly; 
	align-items: center; 
	height: 100vh; 
	text-align: center; 
}

main section#contact h2 { 
	font-size: 1.9em; 
}

main section#contact p { 
	text-align: center;
	font-size: 1.7rem; 
	font-weight: bold;
}

main section#contact .contact-links { 
	display: flex; 
	flex-direction: column;  
	width: 100%; 
}

main section#contact .contact-links a { 
	color: #f3eacdc7; 
	font-size: 1.8rem; 
	font-weight: 800; 
	padding: 5px; 
}


@media only screen and (max-width: 463px) {
	main section#contact .contact-links-container {
		margin: 25px 0;
	}
}

@media only screen and (min-width: 820px) {
	main section#contact .contact-links-container {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly; 
		align-items: baseline;
	}
}




/* Footer */
footer { 
	color: black; 
	background-color: #589a58; 
	font-size: 1rem; 
	/*padding: 10px; */
}

footer p { 
	color: #f3eacdc7; 
	font-weight: 800; 
	text-align: end; 
	font-size: 1.2rem; 
	padding: 8px 15px;
	/*margin-bottom: 5px; */
}

footer a { 
	color: inherit; 
}
	
	






